@font-face {
    font-family: 'membraregular';
    src: url('membra.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'audiowide';
    src: url('audiowide.ttf');
    font-weight: normal;
    font-style: normal;

}
